body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.wrap{
    width: 100%;
    height: 3930px;
    margin-bottom: 50px;
    background: #f8f8f8;
    margin-bottom: 0;
    border-bottom: 1px solid #efefef;
    
}
.bannar{
    height: 350px;
}
.bannar img{
    height: 350px;
}
.bus-main{
    margin-bottom: 15px;
    color: #fff;
}
.bus-top{
    width: 77%;
    height: 63px;
    background-color: #fff;
    margin-left: 22%;
    margin-top:42px;
    font-size: 28px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.bus-top span{
    margin-left: 2.7%;
    line-height: 63px;
    color: #4c4c4c;
    }
.bus-top-right{
    height: 100%;
    position: absolute;
    right: 4%;
}
.bus-top-right span{
    font-size: 16px;
    color: #b7b7b7;
    margin: 0;
   
}  
.bus-top-right span a{
    display: inline-block;
    color: #b7b7b7;
    text-decoration: none;
}
.bus-top-right span #bus-top-right-last{
    color: #9e9e9e;
}
.bus-botton{
    width: 77%;
    overflow: hidden;
    background-color: #fff;
    margin-left: 22%;
    margin-top:42px;
    font-size: 28px;
}
.bus-bott-main{
    text-align: center;
}
.bus-bott-main h3{
    padding-top: 55px;
    margin-bottom: 0;
    color: #787878;
}
.bus-bott-main span {
    display: inline-block;
    margin: 0 auto;
    font-size: 18px;
    color: #8e8e8e;
}
.bus-bott-one{
    overflow: hidden;
}
.bus-bott-one h4 {
    color: #787878;
    margin-left: 70px;
}
.bus-bott-one h4 span{
    display: inline-block;
    width: 20px;
    height: 30px;
    background: #46959d;
    position: relative;
    top: 6px;
}
.bus-bott-one p{
    color: #8e8e8e;
    font-size: 14px;
    margin: 0 60px;
    line-height: 30px;
}
.bus-bott-img {
    text-align: center;
}
.bus-bott-img img{
    display: inline-block;
    max-width: 1200px;
}
.bus-bott-one p i {
    font-style: normal;
    font-size: 30px;
    color: #398484;
}
#bus-bott-p{
    float: right;
    font-size: 16px;
    color: #787878;
}
@media(max-width:1200px){
    .bus-top{
        /* width: 500px; */
        /* background-color:red;  */
        font-size: 12px;
        height: 30px;
    }
    .bus-top span{
        line-height: 30px;
    }
    .bus-top-right span{
            font-size: 11px;
    } 
    
}

@media(max-width:568px){
    .bus-top{
        font-size: 7px;
        height: 20px;
     }
    .bus-top span{
        line-height: 20px;
        margin: 0 auto;
    }
    .bus-top-right{
        display: none;
    } 
}