body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#container{
    height: 1685px;
    margin-top: 56px;
}
.banner{
    width: 100%;
    height: 359px;
}
.case-content{
    max-width: 1200px;
    width: 100%;
   height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.case-top{
    width: 77%;
    height: 63px;
    background-color: #fff;
  margin-left: 22%;
  margin-top:42px;
  font-size: 28px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.case-top span{
    margin-left: 2.7%;
    line-height: 63px;
    color: #4c4c4c;
    }
.case-top-right{
height: 100%;
position: absolute;
right: 4%;

    }
.case-top-right span{
    font-size: 16px;
    color: #b7b7b7;
    margin: 0;
   
}  
.case-top-right span a{
display: inline-block;
color: #b7b7b7;
text-decoration: none;
}
.case-top-right span #case-top-right-last{
    color: #9e9e9e;
}
.company-list{
    margin-top: 18px;
    margin-left: 22%;
    width: 77%;
    height: 267px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.company-list-show{
    height: 100%;
    width: 78%;
    overflow: hidden;
    position: relative;
}
.company-list-show ul{
    width: 100%;
    height: 82%;
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
    justify-content: space-between;
}
.company-list-show ul li{
    margin:0 5px; 
    font-size: 18px;
    color: #9e9e9e;
    text-align: center;
    line-height: 32px;
}
.company-list-show ul li:hover{
    border-bottom:2px solid  #46959d;
}
.company-list-btnleft,.company-list-btnright{
    width: 32px;
    height: 54px;
    background-color:#eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-list-btnleft{
    margin-right: 5px;
}
.company-list-btnright{
    margin-left: 5px;
}
.fa-angle-left,.fa-angle-right{
    color: #c7c7c7;
   font-size:30px;
}
.company-list-btnleft:hover .fa-angle-left,.company-list-btnright:hover .fa-angle-right{
    color: #d1e4e6;
}
.company-list-btnleft:hover,.company-list-btnright:hover{
    background-color: #46959d;
}
.case-project-list{
    margin-left: 22%;
    width: 77%;
    height: 939px;
}
.case-project-list ul{
    width: 78.3%;
    height: 100%;
    margin: 0 auto;
}
.case-project-list ul li{
    width: 100%;
    height: 436px;
   margin-top: 19px;
   text-align: center;
   color: #9e9e9e;
   font-size: 18px;
   line-height: 27px;
}
.case-project-list ul li img{
    height: 91.5%;
    width: 100%;
 
}
@media(max-width:1200px){
    #container{
        height: 1210px;
    }
    .case-top{
        /* width: 500px; */
        /* background-color:red;  */
        font-size: 12px;
        height: 30px;
    }
    .case-top span{
        line-height: 30px;
        }
    .case-top-right span{
            font-size: 11px;
        }  
    .company-list{
height: 200px;
        }
    .case-project-list ul li{
        height: 300px;
        font-size: 14px;
    }
    .banner{
        height: 250px;
    }
}

@media(max-width:568px){
    #container{
        height: 900px;
    }
        .case-top{
           font-size: 7px;
            height: 20px;
        }
        .case-top span{
            line-height: 20px;
            margin: 0 auto;
            }
        .case-top-right{
                display: none;
            }  
        .case-project-list ul li{
                height: 200px;
                font-size: 6px;
            }
        .banner{
                height: 150px;
            }
}
