/* 公共样式 */
/* 导航栏CSS */
   #TopNav nav.navbar-light .navbar-nav  a.nav-link {
      color: #666;
   }
   #TopNav nav.navbar-light .navbar-nav  a.nav-link:hover {
      color: #46959d;
   }

/* 底部 */
   #foot .row p {
      font-size: 12px;
   }
   #foot .row p+.lvse {
      font-size: 14px   ;
   }
   #foot .row h6+p {
      height: 40px;
      line-height: 20px;
   }
   /* 最底部字体大小 */
   #foot footer {
      font-size: 12px;
   }
   /* 字体图标设置 */
   #foot footer .zt a {
      font-size: 20px;
      color: #aaa;
      border-color: #aaa !important;
   }
   #foot footer .zt a:hover {
      color: #46959d;
      border-color: #46959d !important;
   }


