/* 全局默认CSS设置 */
   /* * {
      font-size: 16px;
   } */

   /* 标题字体设置 */
   h1, h2, h3, h4, h5, h6{
      font-family: "Microsoft YaHei",微软雅黑;
   }
   /* 主标题设置 */
   h1 {
      font-size: 50px;
      font-weight: bold;
   }

   /* 变绿 */
   a.lv:hover, * .lvse {
      color: #46959d;
   }

   /* 黑变深 */
   a.bh:hover {
      color: #444;
   }


/* 导航栏CSS */
   #TopNav nav.navbar-light .navbar-nav  a.nav-link {
      color: #666;
   }
   #TopNav nav.navbar-light .navbar-nav  a.nav-link:hover {
      color: #46959d;
   }