body {
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 1940px;
    background-color: #f8f8f8;
}

.list-banner {
    width: 100%;
    height: 359px;
    margin-top: 56px;
    position: relative;
}
.list-banner img{
    width: 100%;    
    height: 100%;
}
.active-words{
    height: 30%;
    width: 408px;
   position: absolute;
   top: 50%;
  margin-top: -3%;
   left: 50%;
 margin-left: -204px;
 

}
.active-words-first{
    font-size: 18px;
    color: #9e9e9e;
    margin-bottom: 0px;
    width: 100%;
}
.active-words-last{
    font-size: 34px;
    color: #46959d;
    margin-bottom: 0px;
    margin-top: -1%;
    width: 100%;
    
}
.case-content {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.case-top {
    width: 77%;
    height: 63px;
    background-color: #fff;
    margin-left: 22%;
    margin-top: 42px;
    font-size: 28px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.case-top span {
    margin-left: 2.7%;
    line-height: 63px;
    color: #4c4c4c;
}

.case-top-right {
    height: 100%;
    position: absolute;
    right: 4%;

}

.case-top-right span {
    font-size: 16px;
    color: #b7b7b7;
    margin: 0;

}

.case-top-right span a {
    display: inline-block;
    color: #b7b7b7;
    text-decoration: none;
}

.case-top-right span #case-top-right-last {
    color: #9e9e9e;
}

.product-list {
    width: 80%;
    height: 1378px;
    margin-left: 22%;
    margin-top: 18px;
}

.product-list ul {
    width: 100%;
    height: 1340px;
    overflow-y: auto;
}

.product-list ul li {
    width: 31.4%;
    height: 31.3%;
    margin: 0px 10px 17px 0px;
    float: left;
    color: #9e9e9e;
    background-color: #e7e7e7;
    text-align: center;
    line-height: 30px;
}

.product-list ul li img {
    width: 100%;
    height: 87.3%;
}

.fa-th-large {
    margin-left: 10px;
    font-size: 18px;
}

.product-list-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    align-items: center;
    color: grey;
}

.product-list-btn span {
    padding-left: 4px;
    height: 20px;
    line-height: 82%;
    font-size: 15px;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 24px;
}

.fa-angle-right {
    margin-right: 5%;
}
.fa-angle-left:hover,
.fa-angle-right:hover,.product-list-btn span:hover{
    color: #46959d;
} 
@media(max-width:1200px) {
    .list-banner {
        height: 250px;
    }

    .case-top {
        /* width: 500px; */
        /* background-color:red;  */
        font-size: 12px;
        height: 30px;
    }

    .case-top span {
        line-height: 30px;
    }

    .case-top-right span {
        font-size: 11px;
    }

    /* .product-list ul li{
            height: 390px;
        } */
     #container{
            height: 1800px;
        }
    .active-words-first{
        font-size: 12px;
    }
    .active-words-last{
        font-size: 20px;
    }
    .active-words{
       left: 55%;
    }
}

@media(max-width:720px) {
    #container{
        height: 1800px;
    }
    .product-list ul li {
        width: 46.9%;
    }

    /* .product-list ul li{
        height: 285px;
    } */
    .product-list-btn{
        margin-top: 37px;
    }
    .active-words{
        display:none;
    }
}

@media(max-width:568px) {
    #container{
        height: 1640px;
    }
    .list-banner {
        height: 150px;
    }

    .case-top {
        font-size: 7px;
        height: 20px;
    }

    .case-top span {
        line-height: 20px;
        margin: 0 auto;
    }

    .case-top-right {
        display: none;
    }

    .product-list ul li img {
        width: 100%;
        height: 86%;
    }

    .product-list ul li {
        width: 100%;
    }

    .fa-angle-right {
        margin-right: 0;
    }
    .product-list-btn{
        margin-top: 0px;
    }
}