<!-- 品牌简介 -->
<div class="" id="brand">
   <!-- banner -->
   <div class="big-bg position-relative w-100">
         <img class="top-bg w-100" src="./Static/images/brand/brand01.png" alt="">
         <div class="img-text">
             <h3>品牌简介</h3>
             <span> </span>
             <h2>BRAND</h2>
         </div>
     </div>
   
   <!-- 品牌简介信息 -->
   <div class="alert container" role="alert">
      <h3>品牌简介</h3>
      <h4 class="alert-heading">公司介绍</h4>
      <img src="./Static/Images/brand/brand01.jpg" class="img-fluid" alt="Responsive image">
      <p>艾森电器（深圳）有限公司，是一家集节能环保产品、智能厨卫产品、智能电器及电子节能技术的研发、设计、生产、销售、推广、技术服务为一体的高新技术企业。公司长期致力于创造和谐、绿色、环保的公共环境和现代家居，为全球用户提供科技领先、品质优良的家用及商用型净水器、食物垃圾处理器、空气净化器等环保产品。
      </p>

      <h4 class="alert-heading">艾森使命</h4>
      <img src="./Static/Images/brand/brand02.jpg" class="img-fluid" alt="Responsive image">
      <p>艾森电器坚守“让环境更洁净，让人更健康”的使命，立足健康环保行业，以塑造民族品牌为己任，拓展国内与国际两个市场，寻求自主品牌与协作品牌两种模式共同发展。将员工、供应商、代理商和一切合作伙伴视为命运共同体，同心共创，共同发展。
      </p>

      <h4 class="alert-heading">品牌理念</h4>
      <img src="./Static/Images/brand/brand03.jpg" class="img-fluid" alt="Responsive image">
      <p>公司始终秉承 [服务至上、诚信为先、品质优良、科技创新]
         的理念，聚现代科技及未来趋势，以服务至上为导向，不断科技创新。公司以“崇尚科技、分享成果、以人为本、信誉第一”的经营管理，为家庭、社会提供舒心服务，积极担当社会责任，将良心精品和真诚服务传递至世界每一个角落，为全人类的健康奉献自己的力量。
      </p>

      <h4 class="alert-heading">公司愿景</h4>
      <img src="./Static/Images/brand/brand04.jpg" class="img-fluid" alt="Responsive image">
      <p>成为智能环保电器的标杆企业，让每家庭生活更美好。</p>

      <h4 class="alert-heading">企业核心价值观</h4>
      <p>开拓、创新，立足市场求发展</p>
      <p>优质、高效，用心服务为用户！</p>

      <h4 class="alert-heading">品牌服务</h4>
      <img src="./Static/Images/brand/brand05.jpg" class="img-fluid" alt="Responsive image">
      <p>服务的核心是为用户创造价值，以顾客至上为原则，艾森提供1站式全屋净化解决方案专家咨询服务。
         在消费者至上的时代，艾森常怀感恩的心，将心比心，在提供高品质产品的同时，用温暖贴心一生为您的全程无忧服务，用心为消费者提供超乎期望值满意的产品和服务，为户创造价值！
         质量先行负责制凡出现产品质量问题，管理人员当班接待、受理的客户投诉，及时处理解决，对于质量产品及时调换。
         实行限时处理制，对于客户的需求，或其它造成不满意的问题，艾森服务部将会在10分钟内给予处理，客服部在30分钟内给予答复，杜绝移交下班解决。
         全程服务 艾森拥有完成销售档案建立体系，及时调取相关信息，随时解答客户问题。</p>
   </div>

</div>