<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商务合作</title>
    <link rel="stylesheet" href="./Static/BootStrap_4.2.1/CSS/bootstrap_v4.2.1.css">
    <script src="./Static/BootStrap_4.2.1/JS/bootstrap_v4.2.1.js"></script>
    <link rel="stylesheet" href="./Static/CSS/bus_cooperat.css">
    <link rel="stylesheet" href="./Static/CSS/sidebar_big.css">
</head>
<body>
    <div class="wrap">
        <div class="bannar">
            <img src="./Static/Images/bus_cooperat/bus_bg_02.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="bus-main container">
            <div class="partner row" >
                <div class="col-2 sidebar_big" id="sidebar_big">
                    <div class="sidebar_01">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">合作客户</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div class="title">
                                    <h6 class="my-0">合作伙伴</h6>
                                </div>
                                <span class="text-muted">—</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between 2h-condensed">
                                <div>
                                    <h6 class="my-0">项目案例</h6>
                                </div>
                                <span class="text-muted2">+</span>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar_02">
                        <ul class="list-group">
                            <div>
                                <li><strong>联系我们</strong>/Contact us</li>
                            </div>
                            <li><img src="./Static/Images/partner/icon_01.png"><strong>400-880-6666</strong></li>
                            <li><img src="./Static/Images/partner/icon_02.png">656862654@qq.com</li>
                            <li><img src="./Static/Images/partner/icon_03.png">656862654</li>
                            <li><img src="./Static/Images/partner/icon_04.png">深圳市龙岗区布局大芳春茂业书画交易广场805</li>
                            <li class="list-group-item"><img src="./Static/Images/partner/erweiman.png"
                                    alt=""><span>官方公众号</span>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="bus-two col-10">
                <div class="bus-top">
                    <span>项目案例</span> 
                    <div class="bus-top-right">
                    <span>您当前的位置：</span>
                    <span><a href="">首页></a></span>
                    <span><a href="">客户合作></a></span>
                    <span ><a href="" id="bus-top-right-last">项目案例></a></span>
                    </div>
                </div> 
                <div class="bus-botton">
                    <div class="bus-bott-main">
                        <h3>合格标准</h3>
                        <span>代理商资质基本要求和条件</span>
                    </div>
                    <div class="bus-bott-one">
                        <h4><span></span>前言</h4>
                        <p>无论过去、现在还是未来的商业形态，经销商都在扮演并将继续扮演产业价值链中极其重要的角色。然而市场竞争愈演愈烈行业利润越来越低，在新的竞争环境下经销商正面临巨大的困惑和挑战。除了重新寻求在产业价值链中准确定位、加强培育开发自己的核心竞争力，以适合更新的竞争环境外更多的经销商也在积极寻求更好的市场机会。而具备客观的巨大潜在市场需求、正处市场导入期阶段的净水器行业无疑为众多经销商提供了再次发展难得的商机。</p>
                    </div>
                    <div class="bus-bott-one">
                        <h4><span></span>净水器市场前景分析</h4>
                        <p>1、我国的自来水水质现状</p>
                        <p>改革开放二十多年来我国经济发展迅速但环境污染日益严重尤其是饮用水污染尤为突出。目前自来水的不安全性主要体现在三个方面：</p>
                        <p>1）水源污染国家环境部门统计，我国82%的河流受到不同程度的污染，在我国七大水系中不适合做饮用水源的河段已接近40%，城市水域中78%的河段不适合作饮用水源，约50%的城市地下水受到污染。随着现代工业的飞速发展，水体正受到工业废水、汽车尾气、农药、石油化工等中的苯、酚等有机物的化学污染越来越严重。<br>
                        2）自来水输水管网的二次污染自来水出厂后经过漫长的输水管网及高楼水塔、水箱等设施接触的污染物甚多诸如铁锈、污垢、细菌等，它们以极其复杂的相互作用生成许多有毒及致癌物质。<br>
                        3）城市高楼的水箱、水塔清洁检修工作不足因此直接饮用很不安全。据中国预防医学科学院环境卫生监测所检测表明我国35个主要城市饮用水达标率仅为23%。<br>
                        2、水质污染的危害<br>
                        水是生命之源。生活饮用水质的好坏与人们的身体健康密切相关。据世界卫生组织WHO调查表明全世界80%的疾病和50%的儿童死亡都与饮用水水质不良有关。由于饮用不良水质导致的消化疾病、传染病、各种皮肤病、糖尿病、癌症、结石病、心血管病等多达50多种，由于水质污染全世界每年有5000万儿童死亡，3500万人患心血管病，7000万人患结石病，9000万人患肝炎，3000万人死于肝癌和胃癌。在我国因为水质不好而引起的地方病也时有报导，而因为水质污染引起新发病种的情况也越来越多。<br>
                        3、解决水质污染的方法<br>
                        改善水质的途径一般有<br>
                        1) 水源水保护 2) 自来水厂工艺设备改造 3) 管道分质供水 4) 家庭管网终端水质净化。 <br>
                        水源保护或自来水厂的改造可从一定程度上提高自来水的质量，但不能从根本上解决问题，尤其是管道的二次污染问题。从我国目前的国情来看，可以预见自来水厂设备与技术的更新和自来水管网的整体改造在10-20年内是难以实现的。 即使是采用管道分质供水其工程造价、设计施工、管理维护、水费收取、卫生指标及安全程度等方面都存在诸多问题。另外管道分质供水只能针对新建楼盘，对于我们现有的大量住宅小区由于牵涉到管道的重新铺设问题，水污染问题还是无法解决。 国际卫生组织研究表明，享受健康用水最为有效的办法是在市政供水的管网末端即家庭用水终端加装一个水质净化器，这样能从根本上解决自来水管道二次污染问题，而且通过终端的深度处理又正是对城市自来水处理工艺的补充和完善，从而整体上大大提高自来水水质不仅可以满足家庭饮水需求，还可全方位地满足了家庭食用、洗浴、洗涤等诸多方面的需求。从工程角度来看无论是造价、施工难度、管理维护、使用成本、卫生指标和安全程度等各个方面，采用家庭终端净水器都是解决水污染的最佳选择。即使在自来水可以生饮的西方发达国家为避免输送管网的二次污染，70%的家庭都安装了家用终端净水器。<br> 
                        4、净水器的未来前景预测 <br>
                        随着经济的不断发展，环境污染特别是水污染日益加剧是不可否认的客观事实，通过对我国城市自来水质现状以及对水质污染解决途径的分析，可以预见家用净水器作为解决水质污染的最佳选择在我国有着巨大的潜在市场。从产品功能来看，净水器是一个直接关系到人们生命健康的环保产品，随着人们消费水平和健康意识的逐步提高，净水器必将像彩电、冰箱、空调一样成为一种家用必需品而在各个家庭得到普及。 现在美国家用净水器的销售额每年达30多亿美元而日本则年产家用净水器240万台，两国的家用净水器的普及率都已达70%以上。在我国大部分城市地区净水器还处于导入期发展的空间非常大。 </p>
                    </div>
                    <div class="bus-bott-one">
                        <h4><span></span>艾森直饮机的应用前景分析</h4>
                        <p>1、客观市场需求潜力巨大<br>
                            1）家庭自来水质差需要净化，由于受到水源污染、自来水的传统落后工艺以及自来水管道输送的二次污染影响，很多城市自来水水质越来越差，而家庭日常生活中洗菜、做饭、煲汤、沐浴等大量的生活用水直接影响到家庭成员的身体健康，家庭自来水需要净化后再使用是必然的潜在市场需求。 <br>
                            2）家庭、单位的饮水需求，每个家庭及单位都要喝水，目前大多数都在喝桶装水。而长期饮用桶装纯净水费用高，送水上门服务显得麻烦且担心劣质桶装水的问题，而产水新鲜、卫生、能直接饮用的净水器则很好地解决了家庭和单位的喝水问题。</p>
                    </div>
                    <div class="bus-bott-one">
                        <h4><span></span>艾森净水器性能特点</h4>
                        <p>1、艾森RO反渗透纯水机的性能特点<br>
                            纯水机使用的都是美国的逆渗透技术，采用进口的逆渗透膜。这项技术以前广泛运用于医学（如肾病血液透析）、电子、航天（宇航员体液循环）、海水淡化等高新科技领域，近年运用此技术又开发出运用于民间的适合家用的水净化设备。它的工作原理是对水施加一定的压力，使水分子和离子态的矿物质元素通过反渗透膜，而溶解在水中的绝大部分无机盐（包括重金属）、有机物以及细菌、病毒等无法透过反渗透膜，从而使渗透过的纯净水和无法渗透过的浓缩水严格的分开；反渗透膜上的孔径只有0.0001微米,而病毒的直径一般有0.02-0.4微米,普通细菌的直径有0.4-1微米,所以你尽可以放心大胆的饮用纯水机里流出的清泉。<br>
                            纯水机根据使用的特点还分为橱上型和橱下型，作用是一样的。根据使用的款式也分为分体式和一体式的，分体式的占地面积比较大，储水桶和机身分离；一体式是指主机和储水桶在一起，占地小，有利于清洁，外形美观大方。根据不同用户的实际情况可以有不同的选择。<br>
                            纯水机不仅可以将杂质、铁锈、泥沙、胶体、细菌、病毒驱除掉，还可以将对人体有害的放射性粒子、有机物、荧光物、农药驱除，还可以将讨厌的水碱和重金属驱除，保证您在烧开水的时候没有水碱，同时保证家人的健康。<br>
                            使用纯净水可以做饭、煲汤、沏茶、冲咖啡，保证原汁原味，充分的将食物中的营养分解，更加适合人体的吸收。在加湿器或者需要水的美容器中使用纯净水可以保证没有水碱，更好的保护您家的家居，使用纯净水制冰，晶莹透亮，没有杂质。<br>
                        特点：有增压泵，需要电源，有储水罐，一般为五级过滤，第一级为PP棉滤芯，第二和第三级为活性炭滤芯，第四级为用于宇航技术的RO逆渗透膜（此为核心），第五级为精致活性炭，主要用于改善口感。也可加第六级放置麦饭石滤芯，成为矿物质饮用纯水机。<br>
                        选择艾森水器的好处：<br>
                        1、经处理后可获得最高品质的厨房用水。 <br>
                        2、去除水中消毒后的余氯及氯化物。 <br>
                        3、100%滤除水中的泥沙、污垢、铁锈、等杂质。 <br>
                        4、99.9%滤除石棉纤维孢囊菌及悬浮物。 
                        5、100%滤除大肠杆菌沙门氏菌志贺杆菌抑制细菌滋长。<br> 
                        6、100%滤除三卤甲烷等百余种致癌物质。 <br>
                        7、吸收水中的土味、霉味、腥味及各种异味。 </p>
                    </div>
                    <div class="bus-bott-one">
                        <h4><span></span>艾森直饮机招商政策</h4>
                        <p>1、 销售模式<br>
                            区域独家代理制<br>
                            每个城市设1个独家总代理商<br>
                        2、 市场销售细分方式<br>
                        1）装饰、建材、厨卫批发市场，这类市场分销网点一般老板的人脉关系比较好，客户群体比较集中。以品质稳定，售后有保障，有利润空间来寻求合作，利用这个分销渠道的资源。<br>
                        2）五金、工业品、日用品类批发市场这类市场分销网点有很大的综合性，售点多、品种全，很多是经营日常必须品，人流量比较大，购物群体以家庭妇女为主，随意性比较大，可以从突出产品使用后达到的好处方面来吸引客户购买。 <br>
                        3）专卖店方式、直销模式专卖店，突出形象、品牌及宣传效果，都比较好适合于人流量比较大的地方，必须利用专卖店的特点做好促销、宣传公关等工作。 <br>
                        4）酒店用品、百货及电器专卖店，这类市场各地级市、县都有，产品多、客流量大适宜各阶层客户的购物首选场所。<br>
                        艾森净水器的产水可直接生饮，而且产水量较大，不仅可以解决家庭饮水，同时可以满足企事业单位的喝水需求，适合家庭、工厂、学校、酒店、宾馆、医院、商铺等各种场所。<br>
                        3、 代理商具备的条件<br>
                        1）独立的法人资格或个体工商户<br>
                        2）有较高的商业信用和公司形象<br>
                        3）在当地有完善的销售网络和服务能力<br> 
                        4）在终端运作方面有较丰富的经验<br>    
                        4、对代理商的支持<br>
                        1）市场营销支持提供市场推广文件体系协助总经销商制定区域市场推广方案。提供详细的代理商培训资料等系列文件。 <br> 
                        2）产品宣传物料支持，具体请参考《代理商协议书》<br> 
                        3）售后服务相关配件。具体请参考《售后服务协议书》 <br> 
                        4）年度返利完成全年销售任务后可享受一定的年度返利，具体请参考《代理商协议书》<br> 
                        5）严格的市场保护和监督禁止串货、压价倾销，规范市场运作，确保代理商利益。 <br> 
                        6）广告支持。具体请参考《代理商协议书》 <br> 
                        7）技术支持提供技术咨询不定期举办技术培训。<br>  
                        8）提供统一的市场形象策划。 <br> 
                        9）支持代理商参加各种推广活动迅速提升品牌形象，促进销售。 </p>
                    </div>
                    <div class="bus-bott-one">
                        <h4><span></span>合作流程</h4>
                        <div class="bus-bott-img">
                            <img src="./Static/Images/bus_cooperat/bus_one_03.png" alt="">
                        </div>
                    </div>
                    <div class="bus-bott-one">
                        <h4><span></span>合作联系</h4>
                        <p>免费热线：<i>0755-36632427</i><br>
                            全国免费热线：<i>400-778-1899</i><br>
                            体验中心：深圳市龙岗区布吉大芬村茂业书画交易市场805</p>
                        <p id="bus-bott-p">
                            艾森电器（深圳）有限公司<br>营销中心
                        </p>
                    </div>
                </div>   
            </div>
            </div>
        </div>
    </div>
</body>
</html>