<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商务合作</title>
    <link rel="stylesheet" href="../BootStrap_4.2.1/CSS/bootstrap_v4.2.1.css">
    <script src="../BootStrap_4.2.1/JS/bootstrap_v4.2.1.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="bannar">
            <img src="../images/bus_bg.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="main">
            <div class="main-left">

            </div>
            <div class="main-right">

            </div>
        </div>
    </div>
</body>
</html>