
<div class="wow bounceInUp animated" data-wow-duration="2000ms" data-wow-delay="1" id="wow">
   <!-- 中间容器 -->
   <div id="container" class="container-fluid">
     <!-- 顶部广告图 -->
      <div class="case-banner">
         <img src="./Static/Images/case_list/case-banner.png" alt="">
         <div class="active-words wow bounceInUp animated" data-wow-duration="2000ms" data-wow-delay="1" id="wow">
            <p class="active-words-first">让我们一起</p>
            <p class="active-words-last">为全人类的健康奉献自己的力量</p>
         </div>
      </div>
<!-- 中间内容板块 -->
      <div class="case-content">
         <!-- 侧边栏 -->
           <!-- 侧边栏 -->
<div class="partner" id="partner">
      <div class="sidebar_big">
          <div class="sidebar_01">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">合作客户</span>
              </h4>
              <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div class="title">
                          <h6 class="my-0">合作伙伴</h6>
                      </div>
                      <span class="text-muted">—</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between 2h-condensed">
                      <div>
                          <h6 class="my-0">项目案例</h6>
                      </div>
                      <span class="text-muted2">+</span>
                  </li>
              </ul>
          </div>
          <div class="sidebar_02">
              <ul class="list-group">
                  <div>
                      <li><strong>联系我们</strong>/Contact us</li>
                  </div>
                  <li><img src="./Static/Images/partner/icon_01.png"><strong>400-880-6666</strong></li>
                  <li><img src="./Static/Images/partner/icon_02.png">656862654@qq.com</li>
                  <li><img src="./Static/Images/partner/icon_03.png">656862654</li>
                  <li><img src="./Static/Images/partner/icon_04.png">深圳市龙岗区布局大芳春茂业书画交易广场805</li>
                  <li class="list-group-item"><img src="./Static/Images/partner/erweiman.png"
                          alt=""><span>官方公众号</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
         <!-- 中间内容板块头部导航条 -->
         <div class="case-top">
            <span>项目案例</span>
            <div class="case-top-right">
               <span>您当前的位置：</span>
               <span><a href="">首页></a></span>
               <span><a href="">客户合作></a></span>
               <span><a href="" id="case-top-right-last">项目案例></a></span>
            </div>
         </div>
         <!-- 中间内容板块轮播图 -->
         <div class="company-list" id="company-list">
            <div class="company-list-btnleft" id="company-list-btnleft">
               <img src="./Static/Images/case_list/ban_prev.png" alt="">
            </div>
            <div class="company-list-show" id="company-list-show">
               <ul>
                  <li><img src="Static/Images/case_list/case-01.png" alt="">宜家</li>
                  <li><img src="Static/Images/case_list/case-02.png" alt="">中国电信</li>
                  <li><img src="Static/Images/case_list/case-03.png" alt="">鲁森集团</li>
               </ul>
            </div>
            <div class="company-list-btnright" id="company-list-btnright">
               <img src="./Static/Images/case_list/ban_next.png" alt="">
            </div>
         </div>
         <!-- 合作案例 -->
         <div class="case-project-list">
            <ul>
               <li><img src="Static/Images/case_list/case-04.png" alt="">艾森和宜家达成战略合作，正式签署项目合同</li>
               <li><img src="Static/Images/case_list/case-05.png" alt="">现场安装效果图</li>
            </ul>
         </div>
      </div>
   </div>
</div>
</div>