<div class="wow bounceInUp animated" data-wow-duration="2000ms" data-wow-delay="1" id="wow">
   <div id="container" class="container">
      <div class="case-banner">
         <img src="./Static/Images/case_list/case-banner.png" alt="">
         <div class="active-words wow bounceInUp animated" data-wow-duration="2000ms" data-wow-delay="1" id="wow">
            <p class="active-words-first">让我们一起</p>
            <p class="active-words-last">为全人类的健康奉献自己的力量</p>
         </div>
      </div>

      <div class="case-content">
         <div class="case-top">
            <span>项目案例</span>
            <div class="case-top-right">
               <span>您当前的位置：</span>
               <span><a href="">首页></a></span>
               <span><a href="">客户合作></a></span>
               <span><a href="" id="case-top-right-last">项目案例></a></span>
            </div>
         </div>
         <div class="company-list" id="company-list">
            <div class="company-list-btnleft" id="company-list-btnleft">
               <img src="./Static/Images/case_list/ban_prev.png" alt="">
            </div>
            <div class="company-list-show" id="company-list-show">
               <ul>
                  <li><img src="Static/Images/case_list/case-01.png" alt="">宜家</li>
                  <li><img src="Static/Images/case_list/case-02.png" alt="">中国电信</li>
                  <li><img src="Static/Images/case_list/case-03.png" alt="">鲁森集团</li>
               </ul>
            </div>
            <div class="company-list-btnright" id="company-list-btnright">
               <img src="./Static/Images/case_list/ban_next.png" alt="">
            </div>
         </div>
         <div class="case-project-list">
            <ul>
               <li><img src="Static/Images/case_list/case-04.png" alt="">艾森和宜家达成战略合作，正式签署项目合同</li>
               <li><img src="Static/Images/case_list/case-05.png" alt="">现场安装效果图</li>
            </ul>
         </div>
      </div>
   </div>
</div>
</div>