<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>case</title>
    <link rel="stylesheet" href="./BootStrap_4.2.1/CSS/bootstrap_v4.2.1.css" type="text/css" media="all">
   <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css" rel="stylesheet"> -->

   <!-- FontAwesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" href="../CSS/animate.min.css">   
   <link rel="stylesheet" href="../CSS/case.css">
</head>
<body>
<div class="container">
      <div class="wow bounceInUp animated" data-wow-duration="2000ms" data-wow-delay="1">
            <img src="../Images/case_list/list-banner.png" alt="" class="banner">
    <div class="case-content">
         <div class="case-top">
            <span>项目案例</span> 
            <div class="case-top-right">
               <span>您当前的位置：</span>
               <span><a href="">首页></a></span>
               <span><a href="">客户合作></a></span>
               <span ><a href="" id="case-top-right-last">项目案例></a></span>
            </div>
          </div>
          <div class="company-list" id="company-list">
             <div class="company-list-btnleft" id="company-list-btnleft">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
             </div>
             <div class="company-list-show" id="company-list-show">
               <ul>
                  <li><img src="../Images/case_list/case-01.png" alt="">宜家</li>
                  <li><img src="../Images/case_list/case-02.png" alt="">中国电信</li>
                  <li><img src="../Images/case_list/case-03.png" alt="">鲁森集团</li>
               </ul>
             </div>
             <div class="company-list-btnright" id="company-list-btnright">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
             </div>
          </div>
          <div class="case-project-list">
            <ul>
               <li><img src="../Images/case_list/case-04.png" alt="">艾森和宜家达成战略合作，正式签署项目合同</li>
               <li><img src="../Images/case_list/case-05.png" alt="">现场安装效果图</li>
            </ul><script src="../JS/case.js">
               if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
                  new WOW().init();
              }
               </script>
          </div>
      </div>
 </div>
</div>
 <!-- JS -->
 <script src="../JS/JQuery_v3.3.1.js"></script>
 <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
 <script src="../JS/wow.min.js"></script>
 <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="../BootStrap_4.2.1/JS/bootstrap_v4.2.1.js"></script>
 <script src="../JS/case.js">
 if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
    new WOW().init();
}
 </script>
 <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script> -->

 <!-- 自定义JS -->
 <!-- <script type="text/javascript" src="./JS/XXX.js"></script> -->
 </body>
</html>