<!-- 图片文字 -->
<div class="big-bg position-relative w-100">
        <img class="top-bg w-100" src="./Static/images/image_conus/contact_us_02.png" alt="">
        <div class="img-text">
            <h3>联系我们</h3>
            <span> </span>
            <h2>CONTACT US</h2>
        </div>
    </div>
    
    <!-- 主要内容 -->
    <div class="us-main py-4">
        <div class="framework wa-9 bg-white p-5 row" >
            <!-- 表单 -->
            <div class="form-box col col-md pl-0">
                <h5>欢迎来电咨询或者表单联系我们/Contact us</h5>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="formGroupExampleInput">你的姓名：</label>
                        <span></span>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">你带邮箱：</label>
                        <span></span>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">你的电话：</label>
                        <span></span>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">输入您要服务的内容：</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="form_bg">发送/SEND</button>
                </form>
            </div>
            <!-- 表单end -->
            <div class="relation col">
                <h3>艾森联系方式</h3>
                <div>
                    <ul class="media-list pl-0">
                        <li class="media">
                            <a class="pull-left mr-4 my-2" href="#">
                            <img class="media-object" src="./Static/images/image_conus/icon_01.png" >
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">体验中心</h4>
                                <!-- Nested media object -->
                                <div class="media">
                                    深圳市龙岗区布吉大芳村茂业书画交易市场805
                                </div>
                            </div>
                        </li>
                        <li class="media">
                                <a class="pull-left mr-4 my-2" href="#">
                                <img class="media-object" src="./Static/images/image_conus/icon_02.png" >
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">体验中心</h4>
                                    <!-- Nested media object -->
                                    <div class="media">
                                        sht728@163.com
                                    </div>
                                </div>
                        </li>
                        <li class="media">
                                <a class="pull-left mr-4 my-2" href="#">
                                <img class="media-object" src="./Static/images/image_conus/icon_03.png" >
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">体验中心</h4>
                                    <!-- Nested media object -->
                                    <div class="media">
                                            0755-28875411
                                    </div>
                                </div>
                        </li>
                        <li class="media">
                                <a class="pull-left mr-4 my-2" href="#">
                                <img class="media-object" src="./Static/images/image_conus/icon_04.png" >
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">体验中心</h4>
                                    <!-- Nested media object -->
                                    <div class="media">
                                        400-778-1899
                                    </div>
                                </div>
                        </li>
                    </ul>
                    <div class="weix">
                        <span>微信公众号</span>
                        <img class="mt-2" src="./Static/images/image_conus/weixing.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="View/con_map.html" width="810px" height="260px" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        
    </div>