   <!-- footer -->
   <footer id="foot">
      <!-- about -->
      <div class="container">
         <div class="row">
            <div class="col-md-3 col-sm-6">
               <div class="d-flex flex-column align-items-center">
                  <div class=""><img src="./Images/main/icon01.png" alt="" class="mw-100 "></div>
                  <h6 class="">优质服务</h6>
                  <p class="text-center">一站式服务一站式服务，备机保证不间断供水，24小时随时响应服务，备机保证不间断</p>
                  <div class=""><img src="./Images/main/pic_03.png" alt="" class="mw-100 img-thumbnail"></div>
               </div>
            </div>         
            <div class="col-md-3 col-sm-6">
               <div class="d-flex flex-column align-items-center">
                  <div class=""><img src="./Images/main/icon02.png" alt="" class="mw-100 "></div>
                  <h6 class="">专利技术</h6>
                  <p class="text-center">采用独特的DPM技术保证饮用水安全&健康</p>
                  <div class=""><img src="./Images/main/pic_04.png" alt="" class="mw-100 img-thumbnail"></div>
               </div>
            </div>         
            <div class="col-md-3 col-sm-6">
               <div class="d-flex flex-column align-items-center">
                  <div class=""><img src="./Images/main/icon03.png" alt="" class="mw-100 "></div>
                  <h6 class="">联系我们</h6>
                  <p class="text-center">体验中心：深圳市龙岗区布吉大芬村茂业书画交易市场805</p>
                  <div class="py-2 border border-secondary rounded text-center">
                     <p class="mb-0">免费热线：</p>
                     <h6 class="lvse font-weight-bold">0755-36632427</h6>
                     <hr class="my-2">
                     <p class="mb-0">全国免费热线：</p>
                     <h6 class="lvse font-weight-bold">400-778-1899</h6>
                  </div>
               </div>
            </div>         
            <div class="col-md-3 col-sm-6">
               <div class="d-flex flex-column align-items-center">
                  <div class=""><img src="./Images/main/icon04.png" alt="" class="mw-100 "></div>
                  <h6 class="">关注我们</h6>
                  <p class="text-center">让环境更洁净让人更健康是我们的使命</p>
                  <div class=""><img src="./Images/main/pic_05.png" alt="" class="mw-100 img-thumbnail"></div>
               </div>
            </div>         
         </div>
      </div>
      <!-- about END -->
      <div class="bg-light">
         <div class="container">
            <div class="d-flex justify-content-between">
               <div class="">
                  <a href="" class="list-group-item-light text-decoration-none">品牌简介</a>
                  <a href="" class="list-group-item-light text-decoration-none">产品中心</a>
                  <a href="" class="list-group-item-light text-decoration-none">合作客户</a>
                  <a href="" class="list-group-item-light text-decoration-none">商务合作</a>
                  <a href="" class="list-group-item-light text-decoration-none">联系我们</a>
                  <a href="" class="list-group-item-light text-decoration-none">人才招聘</a>
               </div>
               <div class="text-secondary">
                  Copyright © 2017-2018 艾森电器（深圳）有限公司 版权所有
               </div>
            </div>
            <hr class="">
            <div class="d-flex justify-content-between">
               <div class="">
                  <i class="fab fa-weixin"></i>
                  <i class="fab fa-weibo"></i>
                  <i class="fab fa-qq"></i>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
               </div>
               <div class="">
                  <a href="" class="px-2 text-decoration-none border-right ">隐私政策</a>
                  <a href="" class="px-2 text-decoration-none border-right ">法律声明</a>
                  <a href="" class="px-2 text-decoration-none border-right ">销售政策</a>
                  <a href="" class="pl-2 text-decoration-none">网站地图</a>
                  <div class="text-right">
                     <img src="./Images/main/icon05.png" alt="" class="">
                     <span class="text-secondary">粤ICP备12345678号-1</span>
                     <img src="./Images/main/icon06.png" alt="" class="">
                     <span class="text-secondary">中国</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer END -->


   <!-- JS -->
   <script src="./JS/JQuery_v3.3.1.js"></script>
   <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
   <script src="./JS/wow.min.js"></script>
   <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="./BootStrap_4.2.1/JS/bootstrap_v4.2.1.js"></script>
   <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script> -->

   <!-- 自定义JS -->
   <!-- <script type="text/javascript" src="./JS/XXX.js"></script> -->
   </body>
</html>