   <!-- footer -->
   <footer id="foot" class="bg-light">
      <!-- about -->
      <div class="container" style="padding-top: 85px">
         <div class="row px-5" style="margin-bottom: 54px;">
            <div class="col-lg-3 col-md-6 col-sm-12 pt-4 pt-lg-0 px-4">
               <div class="d-flex flex-column align-items-center">
                  <div class=""><img src="./Static/Images/main/icon01.png" alt="" class="img-fluid d-block"></div>
                  <h6 class="my-3 font-weight-bold">优质服务</h6>
                  <p class="mb-3 text-center">一站式服务，备机保证不间断供水，24小时随时响应服务</p>
                  <div class="mt-1"><img src="./Static/Images/main/pic_03.png" alt="" class="img-fluid img-thumbnail"></div>
               </div>
            </div>         
            <div class="col-lg-3 col-md-6 col-sm-12 pt-4 pt-lg-0 px-4">
               <div class="d-flex flex-column align-items-center">
                  <div class=""><img src="./Static/Images/main/icon02.png" alt="" class="img-fluid d-block"></div>
                  <h6 class="my-3 font-weight-bold">专利技术</h6>
                  <p class="mb-3 text-center">采用独特的DPM技术保证饮用水安全&健康</p>
                  <div class="mt-1"><img src="./Static/Images/main/pic_04.png" alt="" class="img-fluid img-thumbnail"></div>
               </div>
            </div>         
            <div class="col-lg-3 col-md-6 col-sm-12 pt-4 pt-lg-0 px-4">
               <div class="d-flex flex-column align-items-center">
                  <div class=""><img src="./Static/Images/main/icon03.png" alt="" class="img-fluid d-block"></div>
                  <h6 class="my-3 font-weight-bold">联系我们</h6>
                  <p class="mb-3 text-center">体验中心：深圳市龙岗区布吉大芬村茂业书画交易市场805</p>
                  <div class="mt-1 py-2 border border-secondary rounded text-center">
                     <p class="mb-0">免费热线：</p>
                     <div class="lvse mx-2 font-weight-bold">0755-36632427</div>
                     <hr class="my-2">
                     <p class="mb-0">全国免费热线：</p>
                     <div class="lvse font-weight-bold">400-778-1899</div>
                  </div>
               </div>
            </div>         
            <div class="col-lg-3 col-md-6 col-sm-12 pt-4 pt-lg-0 px-4">
               <div class="d-flex flex-column align-items-center">
                  <div class="" style="height: 42px;"><img src="./Static/Images/main/icon04.png" alt="" class="img-fluid d-block"></div>
                  <h6 class="my-3 font-weight-bold">关注我们</h6>
                  <p class="mb-3 text-center">让环境更洁净让人更健康是我们的使命</p>
                  <div class="mt-1"><img src="./Static/Images/main/pic_05.png" alt="" class="img-fluid img-thumbnail"></div>
               </div>
            </div>         
         </div>
      </div>
      <!-- about END -->
      <!-- bottom -->
      <footer class="" style="background: #f2f2f2;">
         <div class="container" style="padding: 40px 0 42px 0;">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
               <div class="clearfix">
                  <a href="./Brand_Introduction.ph" class="pr-3 d-block float-left list-group-item-light text-decoration-none bg-transparent">品牌简介</a>
                  <a href="./Product_List.php" class="pr-3 d-block float-left list-group-item-light text-decoration-none bg-transparent">产品中心</a>
                  <a href="./Cooperative_Partner.php" class="pr-3 d-block float-left list-group-item-light text-decoration-none bg-transparent">合作客户</a>
                  <a href="./Business_Cooperation.php" class="pr-3 d-block float-left list-group-item-light text-decoration-none bg-transparent">商务合作</a>
                  <a href="./Contact_Us.php" class="pr-3 d-block float-left list-group-item-light text-decoration-none bg-transparent">联系我们</a>
                  <a href="./Talent_Recruitment.php" class="d-block float-left list-group-item-light text-decoration-none bg-transparent">人才招聘</a>
               </div>
               <div class="text-secondary text-center">
                  Copyright © 2017-2018 艾森电器（深圳）有限公司 版权所有
               </div>
            </div>
            <hr class="mt-2 pt-1 mb-3">
            <div class="d-flex justify-content-between flex-wrap">
               <!-- font-icon -->
               <div class="zt">
                  <a class="p-1 mr-1 d-inline-block border rounded text-decoration-none fab fa-weixin" href="#"></a>
                  <a class="p-1 mr-1 d-inline-block border rounded text-decoration-none fab fa-weibo" href="#"></a>
                  <a class="p-1 mr-1 d-inline-block border rounded text-decoration-none fab fa-qq" href="#"></a>
                  <a class="p-1 mr-1 d-inline-block border rounded text-decoration-none fa fa-share-alt" aria-hidden="true" href="#"></a>
               </div>
               <!-- font-icon END -->
               <div class="">
                  <div class="clearfix">
                     <a href="" class="px-3 d-block float-left text-decoration-none list-group-item-light bg-transparent border-right ">隐私政策</a>
                     <a href="" class="px-3 d-block float-left text-decoration-none list-group-item-light bg-transparent border-right ">法律声明</a>
                     <a href="" class="px-3 d-block float-left text-decoration-none list-group-item-light bg-transparent border-right ">销售政策</a>
                     <a href="" class="pl-3 d-block float-left text-decoration-none list-group-item-light bg-transparent">网站地图</a>
                  </div>
                  <div class="text-right pt-1 mb-3">
                     <img src="./Static/Images/main/icon05.png" alt="" class="img-fluid pr-1">
                     <span class="text-secondary">粤ICP备12345678号-1</span>
                     <img src="./Static/Images/main/icon06.png" alt="" class="img-fluid pl-3 pr-1">
                     <span class="text-secondary">中国</span>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- bottom END -->
   </footer>
   <!-- footer END -->


   <!-- JS -->
   <script src="./Static/JS/JQuery_v3.3.1.js"></script>
   <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
   <script src="./Static/JS/wow.min.js"></script>
   <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="./Static/BootStrap_4.2.1/bootstrap_v4.2.1.js"></script>
   <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script> -->

   <!-- 自定义JS -->
   <script type="text/javascript" src="./Static/JS/main.js"></script>
   <script>
      if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
         new WOW().init();
      }
   </script>
   </body>
</html>