<!DOCTYPE html>
<html lang="en">
<head>
   <!-- 头文件设定 -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- 网页头小图标 -->
   <link rel="icon" href="./Static/Images/main/favicon.ico">

   <!-- Bootstrap -->
   <link rel="stylesheet" href="./Static/BootStrap_4.2.1/bootstrap_v4.2.1.css" type="text/css" media="all">
   <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css" rel="stylesheet"> -->

   <!-- JQuer UI -->
   <link rel="stylesheet" href="./Static/CSS/JQuery_UI_v1.12.1.css" type="text/css" media="all">

   <!-- FontAwesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <!-- <link rel="stylesheet" href="./Static/CSS/FontAwesome_v5.7.2.css" type="text/css" media="all"> -->
   
   <!-- Animate -->
   <link rel="stylesheet" href="./Static/CSS/animate.min.css" type="text/css" media="all">


   <!-- 自定义文件引入 主CSS -->
   <link rel="stylesheet" href="./Static/CSS/main.css" type="text/css" media="All">