</head>

<!-- 顶部导航栏 -->
<div class="fixed-top bg-light" id="TopNav">
   <!-- nav导航栏 -->
   <nav class="navbar navbar-expand-sm navbar-light container">
      <!-- 图片logo -->
      <a class="navbar-brand" href="./index.php">
         <img src="Static/Images/main/logo.png" alt="logo">
      </a>
      <!-- 图片logo END -->
      <button class="navbar-toggler d-lg-none text-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
         aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <!-- 导航主体 -->
      <div class="collapse navbar-collapse d-sm-flex justify-content-around align-items-center" id="collapsibleNavId">
         <!-- 导航目录 -->
         <ul class="navbar-nav">
            <li class="nav-item active">
               <a class="nav-link" href="./Brand_Introduction.php">品牌简介</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./Product_List.php">产品中心</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./Cooperative_Partner.php">合作客户</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./Business_Cooperation.php">商务合作</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./Contact_Us.php">联系我们</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./Talent_Recruitment.php">人才招聘</a>
            </li>
         </ul>
         <!-- 导航目录 END -->
         <!-- 服务热线 -->
         <div class="d-none d-lg-block">
            <p class="mb-0">
               服务热线：
               <span class="lvse font-weight-bold">400-880-0759</span>
            </p>
         </div>
         <!-- 服务热线 END -->
      </div>
      <!-- 导航主体 END -->
   </nav>
   <!-- nav导航栏 END -->
</div>