<!-- 首页HTML主体 -->

<div class="" id="ibox">
    <!--  -->
    <div class="jumbotron jumbotron-fluid position-relative p-0 mb-0 overflow-hidden">
        <img class="w-100" src="./Static/Images/main/banner01.jpg" alt="">
    </div>
    <div class="jumbotron jumbotron-fluid position-relative p-0 mb-0 overflow-hidden">
        <img class="w-100" src="./Static/Images/main/banner02.jpg" alt="">
        <div class="d-flex flex-column align-items-center position-absolute" style="top: 45%; left: 50%; transform: translate(-50%, -50%);">
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="200ms">
                <h1 class="display-4 mb-1 font-weight-bold">艾森品牌</h1>
            </div>
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="400ms">
                <p class="mt-3 mb-2 pb-1 font-weight-bold">ASONC BRAND</p>
            </div>
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="600ms">
                <div class="mt-4 mb-0 text-center">艾森电器（深圳）有限公司，是宜家集节能环保产品、智能厨卫产品、智能电器及电子节能技术的研发、设计、生产、销售、推广、技术服务为一体...</div>
            </div>
            <div class="wow bounceInUp animated" data-wow-duration="1500ms" data-wow-delay="800ms">
                <a href="./Product_Details.php" class="lv add_gt mt-5 d-inline-block text-secondary text-decoration-none">探索艾森</a>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid position-relative p-0 mb-0 overflow-hidden">
        <img class="w-100" src="./Static/Images/main/banner03.png" alt="">
        <div class="d-flex flex-column align-items-center position-absolute" style="top: 45%; left: 30%; transform: translate(-50%, -50%);">
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="200ms">
                <h1 class="display-4 mb-3 font-weight-bold">净水系列</h1>
            </div>
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="400ms">
                <h3 class="mt-4 mb-2" style="color: #a89382;">滤芯自动冲洗，水质健康有保障</h3>
            </div>
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="600ms">
                <span class="mt-1 mb-0 d-block text-black-50">停电制水、漏水智能保护，使用安全放心</span>
            </div>
            <div class="wow bounceInUp animated" data-wow-duration="1500ms" data-wow-delay="800ms">
                <a href="./Product_Details.php" class="lv add_gt mt-5 d-inline-block text-secondary text-decoration-none">探索更多</a>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid position-relative py-3 mb-0 bg-white overflow-hidden">
        <div class="wow bounceInUp animated d-inline" data-wow-duration="1500ms" data-wow-delay="200ms">
            <img class="" src="./Static/Images/main/pic_01.jpg" style="width: 30%; margin-left:19.5%;" alt="">
        </div>
        <div class="wow bounceInUp animated d-inline" data-wow-duration="1500ms" data-wow-delay="200ms">
            <img class="" src="./Static/Images/main/pic_02.jpg" style="width: 30%; margin-left:1%;" alt="">
        </div>
        <div class="w-50 d-flex flex-column align-items-center position-absolute" style="top: 8%; left: 9.5%;">
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="200ms">
                <h1 class="display-4 mb-1 font-weight-bold">空气净化系列</h1>
            </div>
            <div class="wow fadeInLeftBig animated" data-wow-duration="1500ms" data-wow-delay="400ms">
                <p class="mt-3 mb-2 pb-1 text-black-50">三层滤网，高效级过滤pm2.5颗粒物及甲醛</p>
            </div>
            <div class="wow bounceInUp animated" data-wow-duration="1500ms" data-wow-delay="600ms">
                <a href="./Product_Details.php" class="lv add_gt mt-4 d-inline-block text-secondary text-decoration-none">探索更多</a>
            </div>
        </div>
        <div class="w-50 d-flex flex-column align-items-center position-absolute" style="top: 8%; left: 40.5%;">
            <div class="wow fadeInRightBig animated" data-wow-duration="1500ms" data-wow-delay="200ms">
                <h1 class="display-4 mb-0 font-weight-bold">垃圾处理器系列</h1>
            </div>
            <div class="wow fadeInRightBig animated" data-wow-duration="1500ms" data-wow-delay="400ms">
                <p class="mt-3 mb-2 pb-1 text-black-50">优质耐用，一键粉碎</p>
            </div>
            <div class="wow bounceInUp animated" data-wow-duration="1500ms" data-wow-delay="600ms">
                <a href="./Product_Details.php" class="lv add_gt mt-4 d-inline-block text-secondary text-decoration-none">探索更多</a>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid position-relative p-0 mb-0 overflow-hidden">
        <img class="w-100" src="./Static/Images/main/banner04.png" alt="">
        <div class="d-flex flex-column align-items-center position-absolute" style="max-width: 310px; top: 55%; left: 55%; transform: translatey(-50%);">
            <div class="wow fadeInRightBig animated" data-wow-duration="1500ms" data-wow-delay="200ms">
                <h1 class="display-4 mb-5 font-weight-bold">客户合作</h1>
            </div>
            <div class="wow fadeInRightBig animated" data-wow-duration="1500ms" data-wow-delay="400ms">
                <h3 class="lvse mt-2 mb-4 font-weight-bold">项目案例</h3>
            </div>
            <div class="wow fadeInRightBig animated" data-wow-duration="1500ms" data-wow-delay="600ms">
                <span class="mb-0 d-block text-center text-black-50" style="font-size: 18px;">艾森与鲁森信息科技有限公司正式成为 合作伙伴，之后将一路同行！</span>
            </div>
            <div class="wow bounceInUp animated" data-wow-duration="1500ms" data-wow-delay="800ms">
                <a href="./Project_Case.php" class="lv add_gt mt-5 d-inline-block text-secondary text-decoration-none">探索更多</a>
            </div>
        </div>
    </div>
</div>