<!-- 中间容器 -->
<div class="wow bounceInUp animated" data-wow-duration="2000ms" data-wow-delay="1" id="wow">
   <div id="container" class="container-fluid">
      <!-- 顶部广告图部分 -->
 <div class="list-banner">
    <img src="./Static/Images/case_list/product-banner.png" alt="">
    <div class="active-words wow bounceInUp animated" data-wow-duration="2000ms" data-wow-delay="1" id="wow">
         <p class="active-words-first">我们的使命是:</p>
         <p class="active-words-last">让环境更洁净，让人更健康</p>
    </div>
 </div>



 <!-- 中间案列表内容 -->
 <div class="case-content">
    <!-- 侧边栏 -->
<div class="partner" id="partner">
      <div class="sidebar_big">
          <div class="sidebar_01">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">合作客户</span>
              </h4>
              <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div class="title">
                          <h6 class="my-0">合作伙伴</h6>
                      </div>
                      <span class="text-muted">—</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between 2h-condensed">
                      <div>
                          <h6 class="my-0">项目案例</h6>
                      </div>
                      <span class="text-muted2">+</span>
                  </li>
              </ul>
          </div>
          <div class="sidebar_02">
              <ul class="list-group">
                  <div>
                      <li><strong>联系我们</strong>/Contact us</li>
                  </div>
                  <li><img src="./Static/Images/partner/icon_01.png"><strong>400-880-6666</strong></li>
                  <li><img src="./Static/Images/partner/icon_02.png">656862654@qq.com</li>
                  <li><img src="./Static/Images/partner/icon_03.png">656862654</li>
                  <li><img src="./Static/Images/partner/icon_04.png">深圳市龙岗区布局大芳春茂业书画交易广场805</li>
                  <li class="list-group-item"><img src="./Static/Images/partner/erweiman.png"
                          alt=""><span>官方公众号</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
    <!-- 中间列表顶部导航条 -->
        <div class="case-top">
           <span>净水器系列</span> 
           <div class="case-top-right">
              <span>您当前的位置：</span>
              <span><a href="">首页></a></span>
              <span><a href="">产品中心></a></span>
              <span ><a href="" id="case-top-right-last">净水器系列></a></span>
           </div> 
        </div>   
        <!-- 案列表 -->
       <div class="product-list">
           <ul>
              <li><img src="./Static/Images/case_list/list-01.png" alt="">纯水机  型号：AS-RO602</li>
              <li><img src="./Static/Images/case_list/list-02.png" alt="">纯水机  型号：AS-RO603</li>
              <li><img src="./Static/Images/case_list/list-03.png" alt="">纯水机  型号：AS-RO606</li>
              <li><img src="./Static/Images/case_list/list-04.png" alt="">超滤机  型号：AS-RO602</li>
              <li><img src="./Static/Images/case_list/list-05.png" alt="">管线机 型号：AS-RO603</li>
              <li><img src="./Static/Images/case_list/list-06.png" alt="">纯水机  型号：AS-RO607</li>
              <li><img src="./Static/Images/case_list/list-07.png" alt="">商用机 型号：AS-SY901</li>
              <li><img src="./Static/Images/case_list/list-08.png" alt="">纯水机  型号：AS-YT802</li>
              <li><img src="./Static/Images/case_list/list-09.png" alt="">纯水机  型号：AS-YT802</li>
           </ul>
           <!-- 中间案例表底部左右按钮 -->
           <div class="product-list-btn">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <i class="fa fa-th-large" aria-hidden="true"></i>
            <span>...</span>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
           </div>
       </div>
   </div>
</div>
</div>
<!-- /中间容器 -->


