<!-- 人才招聘 -->
<div class="" id="recruitment">
   <!-- banner    -->
   <div class="big-bg position-relative w-100">
         <img class="top-bg w-100" src="./Static/images/image_conus/contact_us_02.png" alt="">
         <div class="img-text">
             <h3>加入我们</h3>
             <span> </span>
             <h2>JOIN US</h2>
         </div>
     </div>
   <!-- 招聘信息 -->
   <div class="title">
      <h3>人才招聘</h3>
   </div>
   <div class="alert container" role="alert">
      <h4 class="alert-heading">人才观</h4>
      <p>优秀是一种习惯,是一种沉淀;它可能由你做无数件小事积累的做事习惯,思维习惯等构成!人才:你交给他一件事他能办好,再交给他一件事他依旧办好!</p>

      <h4 class="alert-heading">寻找加入我们的伙伴</h4>
      <p class="mb-0">
         1、对产品的服务质量有要求、有理想的人; 2、合作超过1年以上、专业过硬,服务质量过硬的人可以成为公司技术中心合伙人;<br>
         3、专业和管理双垂直发展路线; 4、公司精英国内国外旅游; 5、提供有竞争力的薪酬福利制度、奖金分红制度.
      </p>
   </div>

   <div class="alert alert-success  clearfloat" role="alert">
      <h4 class="alert-heading">销售代表</h4>
      <p>喜爱自己的工作,有责任有上进心 <span>2017-11-01</span></p>

      <hr>
      <h4 class="alert-heading">岗位职责:</h4>
      <p class="mb-0">
         1、负责产品的市场渠道开拓与销售工作，执行并完成公司产品年度销售计划。<br>
         2、根据公司市场营销战略，提升销售价值，控制成本，扩大产品在所负责区域的销售，积极完成销售量指标，扩大产品市场占有率；<br>
         3、与客户保持良好沟通，实时把握客户需求；<br>
         4、根据公司产品、价格及市场策略，独立处置谈判、报价、合同条款的协商及合同签订等事宜。<br>
         5、收集一线营销信息和用户意见，对公司营销策略、售后服务、等提出参考意见。
      </p>
      <br>
      <h4 class="alert-heading">任职资格:</h4>
      <p class="mb-0">
         1、高中及以上学历，2年以上销售相关工作经验优先；<br>
         2、具有较强的公关，判断，沟通能力，能独立解决销售中存在的问题；<br>
         3、积极主动，工作效率高，有条理，并具备团队合作精神；<br>
         4、具备良好的应变能力和承压能力、执行能力强。 
         <span><input class="btn btn-primary" type="reset" value="投递简历"></span>
      </p>

   </div>

   <div class="alert alert-success  clearfloat" role="alert">
      <h4 class="alert-heading">招商经理</h4>
      <p>喜爱自己的工作,有责任有上进心 <span>2017-10-22</span></p>

      <hr>
      <h4 class="alert-heading">岗位职责:</h4>
      <p class="mb-0">
         1、负责招商工作和开发客户，完成每月公司下达的招商任务；<br>
         2、负责招商、记录客户档案、整理客户资料；<br>
         3、做好市场调研、客户分析工作并及时反应市场信息；<br>
         4、负责客户资料的搜集与整理；<br>
         5、协助招商经理或招商主管做好疑难客户的处理工作；<br>
         6、协助财务部完成客户的签约及收款；<br>
         7、负责每日客户接待，认真讲解招商政策，回答客户疑问；<br>
         8、完成招商工作，积累客户并建立客户档案；<br>
      </p>
      <br>
      <h4 class="alert-heading">任职资格:</h4>
      <p class="mb-0">
         1、高中及以上学历，2年以上建材类招商相关工作经验优先；<br>
         2、具有较强的沟通能力，能独立解决招商中存在的问题；<br>
         3、积极主动，工作效率高，有条理，并具备团队合作精神；<br>
         4、具备良好的应变能力和承压能力、执行能力强。
         <span><input class="btn btn-primary" type="reset" value="投递简历"></span>
      </p>

   </div>
   <div class="alert alert-success  clearfloat" role="alert">
      <h4 class="alert-heading">美工设计</h4>
      <p>喜爱自己的工作,有责任有上进心 <span>2017-10-22</span></p>

      <hr>
      <h4 class="alert-heading">岗位职责:</h4>
      <p class="mb-0">
         1、负责公司网站的设计、改版、更新；<br>
         2、负责完成网站等前台页面设计和编辑； <br>
         3、负责公司广告资料设计。<br>
      </p>
      <br>
      <h4 class="alert-heading">任职资格:</h4>
      <p class="mb-0">
         1、中专以上学历，18-30岁，有相关美工工作经验优先。<br>
         2、具备良好的审美能力、想象力丰富，性格开朗；<br>
         3、CorelDRAW、Photoshop等绘图软件 <br>
         4、欢迎广大应届毕业生及转行人员前来应聘。
         <span><input class="btn btn-primary" type="reset" value="投递简历"></span>
      </p>

   </div>
</div>